
.open-cbt-venv
.backend
.env
*.pyc
__pycache__
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.swp
*.bak
*.tmp
*.coverage
.coverage.*
*.egg-info
dist
build
.eggs
*.egg
*.whl
pip-wheel-metadata
*.manifest
*.spec
*.mo
*.pot
*.po
*.orig
*.rej
*.DS_Store
.idea
.vscode
*.sublime-workspace